hml, body, div {
  margin: 0;
  padding: 0;
  color: white;
}

canvas {
  /* fix necessary to remove space at bottom of canvas */
    display: block;
}

#container {
  position: absolute;
}
#leftGUI {
  position: absolute;
  text-align: left;

	padding-left: 10px;
  width: 20%;
	padding-bottom: 10px;
  padding-top: 10px;
}

#rightGUI {
  position: absolute;
  text-align: right;
  width:99%;

  padding-right: 10px;
	padding-bottom: 10px;
  padding-top: 10px;
}

/*#navbox {
	margin-left: 90%;
  width: 10%;
	margin-bottom: 0;
	padding: 0;
}*/
/*leftDIV.style.position = 'absolute';
leftDIV.style.left = '10px';
leftDIV.style.width = '20%';
leftDIV.style.textAlign = 'left';

rightDIV.style.position = 'absolute';
rightDIV.style.right = '10px';
rightDIV.style.width = '20%';
rightDIV.style.textAlign = 'right';*/
