hml, html, body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
}

ul, li {
  list-style: none;
  padding-left: 0;
  color: white;
}

.nameFieldLabel {
  background:none;
  border:none;
  padding:0;
  width: 2em;
  height: 1.8em;
}
.nameFieldLabel:hover {
  padding:1px;
}
.field {
  max-width: 70%;
  height: 1.2em;
  margin-left: 5px;
  margin-top: 5px;
  padding: 3px;
  display: inline;
  color: white;
  background-color: black;
}
.field:focus {
  color: black;
  background-color: white;
}
.field:hover:not(:focus) {
  background-color: grey;
  cursor: text;
}

.enabledList {
  overflow: scroll;
  overflow-x: hidden;
  cursor: pointer;
  padding-left: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-right: 0;
}

.disabledList {
  background-color: grey;
  padding-left: 10px;
}

.optionUnselected {}

.optionSelected {
  padding-left: 15px;
  color: yellow;
  font-weight: bold;
}

.optionOnMouseOver {
  font-weight: bold;
  background-color: DimGrey;
}

.optionSelectedAndOnMouseOver {
  background-color: DimGrey;
  padding-left: 20px;
  color: yellow;
  font-weight: bold;
  /*font-style: oblique;*/
}

#leftGUI {
  float: left;
  text-align: left;
  display: inline-block;
  width: 19%;
  margin: 0;
  padding: .5%;
}

#container {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 73%;
  height: 99%;
}

#rightGUI {
  float: right;
  text-align: center;
  display: inline-block;
  width: 4%;
  margin: 0;
  padding: .5%;
}

#bottomButtons {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 4%;
  padding: .5%;
  padding-left: 0;
}
