hml, body, div {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  height:98%;
}

canvas {
  /* fix necessary to remove space at bottom of canvas */
    display: block;
}

#leftGUI {
  float:left;
  text-align: left;
  display: block;

	padding-left: 1%;
  padding-right: 0;
  width: 14%;
	margin-bottom: 1%;
  margin-top: 1%;
}

#container {
  display:inline-block;
  /*position: absolute;*/
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  margin-top: 0;

  width: 70%;
}

#rightGUI {
  float:right;
  /*position: absolute;*/
  text-align: right;
  width: 14%;
  display: block;

  margin-right: 1%;
  padding-right: 0;
	margin-bottom: 1%;
  margin-top: 1%;
}
